/* ------------------------------------------- */
/* TYPOGRAPHY
/* ------------------------------------------- */

// --- HEADING PROPERTY GLOBAL --- \\
%heading {
    font-family: $font-display;
    font-weight: 400;
}

/* ------------------------------------------- */
/* HEADING 1 | h1
/* ------------------------------------------- */

.heading-1 {
    @extend %heading;
}

/* ------------------------------------------- */
/* HEADING 2 | h2
/* ------------------------------------------- */

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    // LIGHT AND DARK VERSIONS OF HEADING 4 \\
    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

/* ------------------------------------------- */
/* HEADING 3 | h3
/* ------------------------------------------- */

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}

/* ------------------------------------------- */
/* HEADING 4 | h4
/* ------------------------------------------- */

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;
    
    // LIGHT AND DARK VERSIONS OF HEADING 4 \\
    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}