/* ------------------------------------------- */
/* UTILITES
/* ------------------------------------------- */

// --- MARGIN BOTTOM SMALL --- \\
.mb-sm { margin-bottom: 2rem; }

// --- MARGIN BOTTOM MEDIUM --- \\
.mb-md { margin-bottom: 3rem; }

// --- MARGIN BOTTOM LARGE --- \\
s.mb-lg { margin-bottom: 4rem; }

// --- MARGIN BOTTOM HUGE --- \\
.mb-hg { margin-bottom: 8rem; }