/* ------------------------------------------- */
/* FEATURES | IN HOME PAGE
/* ------------------------------------------- */

.section-features {

    margin: 15rem 0;

    // GRID SETUP
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem; // CREATES A GAP BETWEEN THE ELEMENTS IN THE GRID COLS

}